$buttonsColor: #00d4ff;
$textColor: #fff;
$navColor: #f4eef3;
$altTextColor: #9f9f9f;
$errorColor: #ff0000;

$buttonHoverColor: #25babf;

@mixin backgronudColor {
    background: rgb(12,18,38);
    background: -moz-linear-gradient(93deg, rgba(12,18,38,1) 4%, rgba(7,144,172,1) 47%, rgba(196,130,189,1) 100%);
    background: -webkit-linear-gradient(93deg, rgba(12,18,38,1) 4%, rgba(7,144,172,1) 47%, rgba(196,130,189,1) 100%);
    background: linear-gradient(93deg, rgba(12,18,38,1) 4%, rgba(7,144,172,1) 47%, rgba(196,130,189,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0c1226",endColorstr="#c482bd",GradientType=1);
}

@mixin shadow {
    -webkit-box-shadow: 0px 8px 35px -19px rgba(0, 212, 255, 1);
-moz-box-shadow: 0px 8px 35px -19px rgba(0, 212, 255, 1);
box-shadow: 0px 8px 35px -19px rgba(0, 212, 255, 1);
}

@mixin shadowHover {
    -webkit-box-shadow: inset 4px 8px 35px -19px rgba(37, 186, 191, 1);
-moz-box-shadow: inset 4px 8px 35px -19px rgba(37, 186, 191, 1);
box-shadow: inset 4px 8px 35px -19px rgba(37, 186, 191, 1);
}