:root {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    background-color: darkgreen;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
    color: white;
}
a:visited {
    color: white;
    text-decoration: none;
}

.title_login {
    display: flex;
    justify-content: space-around;
    align-items:flex-end;
    margin-top: 1em;
    .title {
    letter-spacing: 2px;
    text-shadow: 2px 2px 1px #9f9f9f;
    background-color: transparent;
    color: white;
    font-size: 1.7em;
    }
    .login {
        display: none;
    }
    .menu_toggle {
        background: transparent;
        border: 0;
        margin: 0;
        display: flex;

    }
}

.menu {
    

    .menu_dropdown {
        display: none;
        .nav-menu {
            margin-top: 1em;
            list-style: none;
            padding:0;
           li{
            padding: .7em .4em;
            border: 1px solid white;
            border-radius: 2px;
            position: relative;
            a {
                display: block;
            }

            .inner-list {
            display: none;
            position: absolute;
            left: 0;
            margin-top: 0.8em;
            z-index: 999;
            padding: 0;
            background-color: black;
            width: -webkit-fill-available;
            }
            
           }
        }

    }
}

.menu.open {
   #dropdown_menu {
    display: block;
   }
  
}


@media (min-width:27em) {
    .title_login {
        .login {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    #toggle_menu {
        display: none;
    }
    #dropdown_menu {
        display: block;
        .nav-menu {
            display: flex;
            flex-direction: row;
            justify-content: center;
            border: 0;
            background-color: antiquewhite;
            li {
                width: 10em;
                display: flex;
                justify-content: center;
                padding: .6em .6em;
                border: 0;
                background-color: aqua;
            }
        }
    }
}