@import './variables';

:root {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    

body {
    margin: 0;
    @include bckgrndClr;
}
}

a {
    text-decoration: none;
    color: $txtClr;
}
a:hover{
    color: $txtClr;
    opacity: 80%;
}
a:visited {
    color: white;
    text-decoration: none;
}

.title_login {
    display: flex;
    justify-content: space-around;
    align-items:baseline;
    margin-top: 1em;
    .title {
    letter-spacing: 2px;
    text-shadow: 2px 2px 1px #9f9f9f;
    background-color: transparent;
    color: white;
    font-size: 1.1em;
    }
    .login {
        display: none;
    }
    .menu_toggle {
        background: transparent;
        border: 0;
        margin: 0;
        display: flex;
    }
}

.menu {
    
    .menu_dropdown {
        display: none;
        .nav-menu {
            margin-top: 1em;
            list-style: none;
            padding:0;
            #toggle {
                display:block;
                position: relative;
                & > a {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                & > #inside-list{
                    display: none;
                    position: absolute;
                    left: 0;
                    margin-top: 0.8em;
                    padding: 0;
                    z-index: 999;
                    background-color: red;
                    width: -webkit-fill-available;
                    li {
                        background-color: rebeccapurple;
                    }
                    }
            }
            
            }
            li{
            padding: .7em .4em;
            border: 1px solid white;
            border-radius: 2px;
            display: flex;
            background-color: $buttonsClr;
            a {
                display: block;
            }

            
            
           }
        }

    }


.menu.open {
   #dropdown_menu {
    display: block;
    position: absolute;
    width: 100vw;
   }
  
}

.article-name {
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
    color: $txtClr;
    letter-spacing: 1px;
    font-size: 0.9em;

}

.article-wrapper {
    width: 85%;
    margin: auto;
    background-color: $navClr;
    border-radius: 5px;
    text-align: justify;
    padding: 1em;
    color: $aTxtClr;
}

.footer {
    background-color: transparent;
    color: $aTxtClr;
    margin: auto;
    font-size: .8em;
    width: 80%;
    text-align: center;
   }

@media (min-width:27em) {
    .title_login {
        .login {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5em;
            img {
                width: 2.5em;
                height: 2.5em;
            }
        }
    }
    #toggle_menu {
        display: none;
    }
    #dropdown_menu {
        display: inline;
        .nav-menu {
           display: flex;
           background-color: $buttonsClr;
           justify-content: space-evenly;
           max-height: fit-content;
           align-items: center;
           li {
            border: 0;
           }
    }
}
}

@media (min-width: 67em) {
    :root {
        font-size: 1.5em;
    }
    .article-wrapper {
        width: 75%;
    }
}