:root {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
:root body {
  margin: 0;
  background: rgb(12, 18, 38);
  background: linear-gradient(93deg, rgb(12, 18, 38) 4%, rgb(7, 144, 172) 47%, rgb(196, 130, 189) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0c1226",endColorstr="#c482bd",GradientType=1);
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #fff;
  opacity: 80%;
}

a:visited {
  color: white;
  text-decoration: none;
}

.title_login {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin-top: 1em;
}
.title_login .title {
  letter-spacing: 2px;
  text-shadow: 2px 2px 1px #9f9f9f;
  background-color: transparent;
  color: white;
  font-size: 1.1em;
}
.title_login .login {
  display: none;
}
.title_login .menu_toggle {
  background: transparent;
  border: 0;
  margin: 0;
  display: flex;
}

.menu .menu_dropdown {
  display: none;
}
.menu .menu_dropdown .nav-menu {
  margin-top: 1em;
  list-style: none;
  padding: 0;
}
.menu .menu_dropdown .nav-menu #toggle {
  display: block;
  position: relative;
}
.menu .menu_dropdown .nav-menu #toggle #arrow {
  font-size: 18px;
  line-height: 15px;
}
.menu .menu_dropdown .nav-menu #toggle > a {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.menu .menu_dropdown .nav-menu #toggle > #inside-list {
  display: none;
  position: absolute;
  left: 0;
  margin-top: 0.8em;
  padding: 0;
  z-index: 999;
  background-color: red;
  width: -webkit-fill-available;
}
.menu .menu_dropdown .nav-menu #toggle > #inside-list li {
  background-color: #663399;
}
.menu .menu_dropdown li {
  padding: 0.7em 0.4em;
  border: 1px solid white;
  border-radius: 2px;
  display: flex;
  background-color: #00d4ff;
}
.menu .menu_dropdown li a {
  display: block;
}

.menu.open #dropdown_menu {
  display: block;
  position: absolute;
  width: 100vw;
}

.article-name {
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
  color: #fff;
  letter-spacing: 1px;
  font-size: 0.9em;
  margin: 1em auto;
}

.article-wrapper {
  width: 85%;
  display: flex;
  margin: 1.5em auto;
  background-color: #f4eef3;
  border-radius: 5px;
  text-align: justify;
  padding: 1em;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #9f9f9f;
}
.article-wrapper .jpg {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 70%;
  overflow: hidden;
  margin: 2em auto;
  border: 1px solid #000;
}
.article-wrapper .caption {
  text-align: center;
}
.article-wrapper h3 {
  text-align: center;
}
.article-wrapper .input-wrap {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  flex-direction: column;
}
.article-wrapper .input-wrap .opt-selct {
  margin-top: 1em;
  height: 3em;
  padding: 0.5em;
  width: 85vw;
}
.article-wrapper .input-wrap .gender {
  padding: 1em;
  display: flex;
}
.article-wrapper .input-wrap .gender #men {
  margin-right: 1em;
}
.article-wrapper .input-wrap .input:focus {
  box-shadow: inset 4px 8px 35px -19px rgb(37, 186, 191);
}
.article-wrapper .input-wrap .buttn {
  border: 0;
  background-color: #00d4ff;
  padding: 1em;
  margin: 1em auto;
  width: 20%;
  height: 20%;
  font-size: 0.7em;
  border-radius: 3px;
  transition: transform 0.3s ease-in-out;
}
.article-wrapper .input-wrap .buttn:hover {
  transform: scale(1.1);
  background-color: #25babf;
  opacity: 0.7em;
  cursor: pointer;
  overflow: hidden;
}
.article-wrapper .input-wrap #result {
  margin: auto;
  text-decoration: underline;
}
.article-wrapper .input-wrap .text {
  width: 70%;
  margin: auto;
  text-align: center;
}
.article-wrapper .input-wrap .text .summary {
  text-align: justify;
}
.article-wrapper #weight,
.article-wrapper #height,
.article-wrapper #age,
.article-wrapper #bf {
  width: 50%;
  text-align: center;
  gap: 1em;
  font-size: 0.7em;
  margin: 1em;
  padding: 1em;
  box-shadow: 0px 8px 35px -19px rgb(0, 212, 255);
  display: flex;
  align-items: center;
}
.article-wrapper #weight.showError,
.article-wrapper #height.showError,
.article-wrapper #age.showError,
.article-wrapper #bf.showError {
  border: 2px solid #ff0000;
}

@media (min-width: 27em) {
  .title_login .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
  }
  .title_login .login img {
    width: 2.5em;
    height: 2.5em;
  }
  #toggle_menu {
    display: none;
  }
  #dropdown_menu {
    display: inline;
  }
  #dropdown_menu .nav-menu {
    display: flex;
    background-color: #00d4ff;
    justify-content: space-evenly;
    max-height: -moz-fit-content;
    max-height: fit-content;
    align-items: center;
  }
  #dropdown_menu .nav-menu li {
    border: 0;
  }
  .input-wrap #weight,
  .input-wrap #height,
  .input-wrap #age,
  .input-wrap #bf {
    width: 30%;
  }
  .input-wrap #activity {
    width: 25vw;
  }
  .input-wrap #weight.error {
    border: 1px solid;
  }
}
@media (min-width: 67em) {
  :root {
    font-size: 1.5em;
  }
  .article-wrapper {
    width: 75%;
  }
  .input-wrap #weight,
  .input-wrap #height,
  .input-wrap #age,
  .input-wrap #bf {
    width: 25%;
  }
  .menu .menu_dropdown .nav-menu #toggle #arrow {
    font-size: 25px;
    line-height: 27px;
  }
}/*# sourceMappingURL=style.css.map */