@import './variables';

:root {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    

body {
    margin: 0;
    @include backgronudColor;
}
}

a {
    text-decoration: none;
    color: $textColor;
}

a:hover{
    color: $textColor;
    opacity: 80%;
}

a:visited {
    color: white;
    text-decoration: none;
}

.title_login {
    display: flex;
    justify-content: space-around;
    align-items:baseline;
    margin-top: 1em;
    .title {
    letter-spacing: 2px;
    text-shadow: 2px 2px 1px #9f9f9f;
    background-color: transparent;
    color: white;
    font-size: 1.1em;
    }
    .login {
        display: none;
    }
    .menu_toggle {
        background: transparent;
        border: 0;
        margin: 0;
        display: flex;
    }
}

.menu {
    .menu_dropdown {
        display: none;
        .nav-menu {
            margin-top: 1em;
            list-style: none;
            padding:0;
            #toggle {
                display:block;
                position: relative;
                #arrow {
                    font-size: 18px;
                    line-height: 15px;
                }
                & > a {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                }
                & > #inside-list{
                    display: none;
                    position: absolute;
                    left: 0;
                    margin-top: 0.8em;
                    padding: 0;
                    z-index: 999;
                    background-color: red;
                    width: -webkit-fill-available;
                    li {
                        background-color: #663399;
                    }
                    }
            }
            }
            li{
            padding: .7em .4em;
            border: 1px solid white;
            border-radius: 2px;
            display: flex;
            background-color: $buttonsColor;
            a {
                display: block;
            }
           }
        }

    }


.menu.open {
   #dropdown_menu {
    display: block;
    position: absolute;
    width: 100vw;
   }
  
}

.article-name {
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
    color: $textColor;
    letter-spacing: 1px;
    font-size: 0.9em;
    margin: 1em auto;

}

.article-wrapper {
    width: 85%;
    display: flex;
    margin: 1.5em auto;
    background-color: #f4eef3;
    border-radius: 5px;
    text-align: justify;
    padding: 1em;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: $altTextColor;
    .jpg {
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 70%;
        overflow: hidden;
        margin:2em auto;
        border: 1px solid #000;
        
    }
    .caption {
        text-align: center;
    }
    h3 {
        text-align: center;
    }
    .input-wrap {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        flex-direction: column;
        .opt-selct {
            margin-top: 1em;
            height: 3em;
            padding: 0.5em;
            width: 85vw;
        }
        .gender {
            padding: 1em;
            display: flex;
            #men {
                margin-right: 1em;
            }
        }
        
        .input:focus {
            @include shadowHover;
        }
        .buttn {
            border: 0;
            background-color: $buttonsColor;
            padding: 1em;
            margin: 1em auto;
            width: 20%;
            height: 20%;
            font-size: .7em;
            border-radius: 3px;
            transition: transform 0.3s ease-in-out;
        }
        .buttn:hover {
            transform: scale(1.1);
            background-color: $buttonHoverColor;
            opacity: 0.7em;
            cursor: pointer;
            overflow: hidden;
        }
        #result {
            margin: auto;
            text-decoration: underline;
        }
        .text {
            width: 70%;
            margin: auto;
            text-align: center;

            .summary {
                text-align: justify;
            }
        }
    }

    #weight,
    #height,
    #age,
    #bf {
        width: 50%;
        text-align: center;
        gap: 1em;
        font-size: .7em;
        margin: 1em;
        padding: 1em;
        @include shadow;
        display: flex;
        align-items: center;
    }

    #weight.showError,
    #height.showError,
    #age.showError,
    #bf.showError {
        border: 2px solid $errorColor;
    }
}

.footer {
    text-align: center;
}



@media (min-width:27em) {
    .title_login {
        .login {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5em;
            img {
                width: 2.5em;
                height: 2.5em;
            }
        }
    }
    #toggle_menu {
        display: none;
    }
    #dropdown_menu {
        display: inline;
        .nav-menu {
           display: flex;
           background-color: $buttonsColor;
           justify-content: space-evenly;
           max-height: fit-content;
           align-items: center;
           li {
            border: 0;
           }
        }   
    }
    .input-wrap {
        #weight,
        #height,
        #age,
        #bf {
            width: 30%;
        }
        #activity {
            width: 25vw;
        }
    
        #weight.error
        {
            border: 1px solid ;
        }
    }
   
}

@media (min-width: 67em) {
    :root {
        font-size: 1.5em;
    }
    .article-wrapper {
        width: 75%;
    }
    .input-wrap {
        #weight,
        #height,
        #age,
        #bf {
            width: 25%;
        }
    }
    .menu {
        .menu_dropdown {
            .nav-menu {
                #toggle {
                    #arrow{
                        font-size: 25px;
                        line-height: 27px;
                    }
                }   
            }   
        }
    }  
}