:root {
  box-sizing: border-box;
  font-size: calc(1vw + 0.6em);
  font-family: 'Lato', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: darkslategrey;
}

a:link {
  color: #fff;
  text-decoration: none;
}

a:visited {
  color: #fff;
}

a:hover {
  text-decoration: underline;
}

.title_login {
  margin: 1em 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.title_login .title {
  color: #fff;
  font-size: 2.1em;
  letter-spacing: 2px;
  text-shadow: 2px 6px 6px #9f9f9f;
}

.title_login .login {
  display: flex;
  margin-left: 5px;
  flex-direction: column;
  align-items: center;
}

.title_login .menu_toggle {
  border: none;
  position: absolute;
  right: 0.2em;
  overflow: hidden;
  background-color: transparent;
  content: "\2261";
  font-size: 2.5em;
}

.title_login .menu_toggle::after {
  content: "\2261";
}

.menu {
  position: relative;
}

.menu .menu_dropdown {
  display: none;
}

.menu .menu_dropdown .nav-menu {
  padding-left: 0;
  border: 1px solid #ccc;
  list-style: none;
  background-color: #000;
  color: #fff;
}

.menu li + li {
  border-top: 1px solid #ccc;
}

.menu li > a {
  display: block;
  padding: 0.8em 1em;
  color: #fff;
  font-weight: normal;
}

.menu.open .menu_dropdown {
  display: block;
}

@media (max-width: 27em) {
  .title_login .login {
    display: none;
  }
}

@media (min-width: 27em) {
  .title_login #toggle_menu {
    display: none;
  }
  #dropdown_menu {
    display: flex;
    flex-direction: row;
  }
  #dropdown_menu .nav-menu {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #9f9f9f;
  }
  #dropdown_menu .nav-menu li {
    padding: 0 2em;
    border: 1px solid #9f9f9f;
    border-top: 0;
    position: relative;
  }
  #dropdown_menu .nav-menu li:hover > .inner-list {
    display: block;
  }
  #dropdown_menu .nav-menu li a {
    padding: 0;
  }
  #dropdown_menu .nav-menu li .inner-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 2em;
    z-index: 999;
  }
  #dropdown_menu .nav-menu li .inner-list li {
    display: block;
  }
}
